<h1>HOMEPAGE</h1>

<%= link_to "sign up", new_user_registration_path %>
<%= link_to "sign in", user_session_path %>
<%= link_to "new order", new_order_path %>
<%= link_to "show all orders", orders_path %>