<h1>HOMEPAGE</h1>

<%= link_to "sign up", new_user_registration_path %></br>
<%= link_to "sign in", user_session_path %></br>
<%= link_to "new order", new_order_path %></br>
<%= link_to "show all orders", orders_path %></br>