#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 40px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.nav-item {
  font-size: larger
}

#header {
  background-color: black;
  color: white;
  text-align: center;
}

.custom-button {
  color: white;
  text-decoration: none;
}

#modal {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
  width: 400px;
  word-break: break-word;
  border-radius: 6px;
  background: #f8f9fa;
}